<div class="container">
  <div class="box">

    <h1>Cocktails Bar</h1>
    <h4>Welcome to our lounge bar!</h4>
    <h5>What do you wanna drink today?</h5>
    <p>
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktails_show_path %>
        <br>
      <% end %>
    </p>
    <%= link_to "Create a cocktail on your own", new_cocktail_path %>
  </div>
</div>

