<div class="container">
  <div class="box">
    <h1>Add a new cocktail!</h1>
    <form action="/answer" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="question" class="form" placeholder="drink name">
      <input type="text" name="question" class="form" placeholder="drink description">
      <input type="submit" value="Send" class="button">
    </form>
    <%= link_to "Back to drinks' menu", cocktails_show_path %>
    <br>
    <%= link_to "Back to main page", cocktails_index_path %>
  </div>
</div>
