<div class="container">
  <div class="box">

    <h4>This is your selected drink:</h4>


    <h5>What do you want to do next?</h5>
    <%= link_to "Create a cocktail on your own", new_cocktail_path %>
    <br>
    <%= link_to "Back to main page", cocktails_index_path %>
  </div>
</div>
